.nav-wrap{
    height: fit-content;
    background-color:#ededed;
    font-size: 1.5vh;
    text-decoration: none;
    color: black;
    padding-top: 25px;
}

.link{
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 15px;
    text-decoration: none;
    background-color:#ededed;
    color: black;
    border-radius: 5px;   
    width: 100%;
}

.link:hover{
    animation-name: hovered;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes hovered {
    from {text-decoration:none; font-weight: normal;}
    to {text-decoration: underline; font-weight: bold;}
}