

.note-holder {
    margin: auto;
    text-align: center;
    padding: 0 0 75px 0;
    height:100%;
    background-color: #FFF8F7;
    width: 25%;
    border-radius: 25px;
    margin: 50px 50px 50px 50px;    
}

.note-container{
    display: flex;
}


